*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 100%;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}
/*----------------------------------HEADER----------------------------------*/
.header {
    background-color: #fff;
    padding: 20px 0;
    padding: 0px 40px;
    /* display: flex
; */
    /* align-items: center; */
    display: grid
; 
    flex-direction: row;
    max-width: 1280px;
   
}
.container{
     display: grid
; 
 align-items: center;
    grid-template-columns: 1fr 12fr 1fr;
}


.nav{
        display: flex
;
    justify-content: center;
}
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}