* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    width: 100%;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px;
    position: relative;
}

/*----------------------------------HEADER----------------------------------*/
.header {
    width: 1280px;
    height: auto;
    /* display: grid; */
}

.container {
        /* display: grid
; */
    max-width: 1280px align-items: center;
    /* gap: 32px; */
    margin: 16px 40px 72px 40px;
    /* display: flex
; */
    display: grid
;
    grid-template-columns: 128px 1fr 120px;
    align-items: center;
    gap: 32px;
    margin: 16px 40px 72px 40px;
    /* flex-wrap: nowrap; */

}

h1 {
    font-size: 30px;
    font-weight: 700;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}


ul>li>a {
    text-decoration: none;
    color: #111827;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
}

ul>li>a:hover {
    color: #2e9215;
    text-decoration: underline;
}

.learn-more {     width: 113px;
    padding: 18px;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    background-color: #5a6611;
    border-radius: 14px;
    display: flex
;
    /* gap: 22px; */
    align-items: center;
    justify-content: center;}
/*----------------------------------HEADER----------------------------------*/

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-bottom: 80px;
}


.landscape-container {
    display: flex;
    justify-content: center;
}