*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 100%;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px;
    position: relative;
}
/*----------------------------------HEADER----------------------------------*/
.header {
     max-width: 1280px;
    height: auto;
    display: grid;
}
.container{
         display: grid;
    grid-template-columns: 128px 1fr 1fr;
    align-items: center;
        gap: 32px;
    margin: 16px 40px 72px 40px;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
ul{
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}


ul>li>a {
    text-decoration: none;
    color: #111827;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
}

ul>li>a:hover {
    color: #2e9215;
    text-decoration: underline;
}

.learn-more {
    width: 98px;
    padding: 8px;
    cursor: pointer;
    align-items: center;
}


