:root {
    --var1-color: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    width: 100%;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px;
    position: relative;
}

/*----------------------------------HEADER----------------------------------*/
.header {
    width: 1280px;
    height: auto;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 16px 40px 72px 40px;
    display: grid;
    grid-template-columns: 128px 1fr 120px;
    align-items: center;
    gap: 32px;
}

h1 {
    font-family: "Inter", sans-serif;
    letter-spacing: -2px;
    font-size: 30px;
    font-weight: 700;
    color: var(--var1-color);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}


ul>li>a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: var(--var1-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
    padding: 4px 8px;
}

ul>li>a:hover {
    color: #2e9215;
    text-decoration: underline;
}

.learn-more {
    font-family: "Inter", sans-serif;
    width: 113px;
    padding: 18px;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    background-color: #5a6611;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.learn-more:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease;
}

/*----------------------------------HEADER----------------------------------*/

.hero-container {
    display: flex;
    text-align: center;
    gap: 24px;
    /* margin-bottom: 80px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.landscape-container {
    display: flex;
    justify-content: center;
}

.head1 {
    font-size: 160px;
    font-weight: 100;
    color: var(--var1-color);
    position: relative;
    display: inline-block;
}

/* подсветка отдельного слова */
.head1 .highlight {
    font-style: regular;
    background: linear-gradient(90deg, #111827, #003c58, var(--var1-color), #5a6611);
    background-size: 13% 21%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 34px 23px;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    font-size: 0.8em;
    animation: gradientMove 14s 
linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 100%;
    }
}

.ipad-image {
    margin-top: 55px;
}
.section-logos {
    margin-top: -80px;
    /* gap: 8px; */
    margin-bottom: 120px;
}
.trasted {
    /* font-size: 14px; */
    opacity: 40%;
    font-weight: 600;
    color: var(--var1-color);
    margin-bottom: 16px;
    /* text-align: center; */
}
.logos-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 80px;
    margin-top:101px;
    margin-bottom:50px;
    justify-content: center;
    align-items: center;
}
.logo-image {
    width: 150px;
    max-width:1200px;
    max-height: 400px;
    object-fit: contain;
    filter: contrast(0);
}
.logo-image:hover {
    transform: scale(1.2);  
    transition: transform 0.3s ease;
}
